{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block titreVille %}
Page d'accueil
{% endblock %}


{% block body %}
  <a href="{{path("villes")}}">toutes les villes</a>
{% endblock %}
